{% extends "base.html" %}

{% block title %}Class Timetable{% endblock %}

{% block content %}
<h2>Class Timetable</h2>

<table>
    <tr>
        <th>Day</th>
        <th>Time Slot</th>
        <th>Subject</th>
        <th>Teacher</th>
        <th>Room</th>
        <th>Batch</th>
    </tr>

    {% for e in entries %}
    <tr>
        <td>{{ e.day }}</td>
        <td>{{ e.slot }}</td>
        <td>{{ e.subject_id }}</td>
        <td>{{ e.teacher_id }}</td>
        <td>{{ e.room_id }}</td>
        <td>{{ e.batch }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
